* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('../img/sfondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

#wrap {
  height: 95%;
  width: 80%;
  margin: 20px auto;
}

#left-wrap {
  float: left;
  height: 100%;
  width: 35%;
  background-color: blue;
}

#right-wrap {
  float: right;
  height: 100%;
  width: 65%;
  background-color: coral;
}

#left-header, #right-header {
  width: 100%;
  height: 8%;
  background-color: #EAEAEA;
}

#left-header-left, #right-header-left  {
  float: left;
  height: 100%;
  width: 50%;
  background-color: red;
}

#left-header-right, #right-header-right {
  float: right;
  height: 100%;
  width: 50%;
  background-color: green;
}
