* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('../img/sfondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

#wrap {
  height: 95%;
  width: 80%;
  background-color: yellow;
  margin: 20px auto;
}
