<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Boolzapp</title>
  </head>
  <div id="root">
    <body>
      <div id="wrap" class="clearfix">
        <div id="left-wrap">
          <div id="left-header" class="clearfix">
            <div id="left-header-left">
              <img class="avatar" src="img/avatar-5.png" alt="avatar">
              <span class="avatar-name">Alessandro Neri</span>
            </div>
            <div id="left-header-right">
              <i class="fas fa-redo"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div id="nuovi-messaggi">
            <div id="volume-off">
              <i class="fas fa-volume-mute"></i>
            </div>
            <div id="notifiche">
              <span id="span-notifiche">Ricevi notifiche di nuovi messaggi</span> <br>
              <span id="notifiche-desktop">Attiva notifiche desktop</span>
            </div>
          </div>
          <div id="search" class="clearfix">
            <div id="icon-search">
              <i class="fas fa-search"></i>
            </div>
            <input v-model="nameContact" v-on:keyup.enter="searchContact" class="chat-search" type="text"  placeholder="Cerca o inizia una nuova chat">
          </div>

          <div id="chat-list">
            <div v-for= "(contact, index) in contacts">

              <div @click="selectContact(index)" class="contact clearfix">
                <div class="avatar-box">
                  <img class="avatar" v-bind:src="contact.avatar">
                </div>
                <div class="contact-info clearfix">
                  <div class="cont-info-left">
                    <span>{{contact.name}}</span> <br>
                    <span class="mess">
                      {{contact.messages[contact.messages.length-1].text}}
                    </span>
                  </div>
                  <div class="cont-info-right">
                    {{contact.messages[contact.messages.length-1].date}}
                  </div>
                </div>
              </div class="contact">
            </div>
          </div>
        </div>
        <div id="right-wrap">
          <div id="right-header" class="clearfix">
            <div id="right-header-left">
              <img class="avatar" src="img/avatar-2.png" alt="avatar">
              <div id="wrap-avatar-info">
                <span class="avatar-name">Silvia</span> <br>
                <span id="ultimo-accesso">Ultimo accesso oggi alle 15:55</span>
              </div>
            </div>
            <div id="right-header-right">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div id="chat" class="clearfix">

            <div v-for= "(message, index) in contacts[activeIndex].messages">

              <div id="chat-left" v-if="message.status === 'received'">
                <div class="box-message box-message-received">
                  <div class="box-message-top" >
                    {{message.text}}

                  </div>
                  <div class="box-message-bottom">
                    {{ message.date }}
                  </div>
                </div>
              </div>
              <div id="chat-right" v-if="message.status === 'sent'">
                <div class="box-message box-message-send">
                  <div class="box-message-top" >
                    {{ message.text }}
                  </div>
                  <div class="box-message-bottom">
                    {{ message.date }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="input-chat">
            <div id="smile">
              <i class="far fa-smile"></i>
            </div>
              <input v-model="userMessage" type="text" v-on:keyup.enter="addMessage" placeholder="Scrivi un nuovo messaggio">
            <div id="microphone">
              <i class="fas fa-microphone"></i>
            </div>
          </div>
        </div>
      </div>
    </body>
  </div>

  <script src="js/script.js" charset="utf-8"></script>

</html>
